# Frontend Environment Variables
VITE_API_BACKEND_URL=http://localhost:8080/api/v1
VITE_AI_SERVICE_URL=http://localhost:8000

# Spring Boot Backend Configuration
PORT=8080
DB_HOST=localhost
DB_PORT=3306
DB_NAME=packcheck_db
DB_USER=root
DB_PASS=password
JWT_SECRET=404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970

# AI Microservice Configuration
AI_PORT=8000
OCR_ENGINE=tesseract
LOG_LEVEL=INFO
